.descriptionP {
    display: inline-grid;
    color:white;
}

#descriptionRow {
    background-color: #303030;
    min-height: 28vh;
    border-radius: 0.3rem;
    margin: .5rem 0 1rem 0;
    color: white;
}

.imgBird {
    width: 200px;
    height: 155px;
    border-radius: 10px;
  }